<div class="container">
  <div class="header"><app-header></app-header></div>
  <div class="footer"><app-footer></app-footer></div>
  <div class="left-bar">
    <app-left-bar></app-left-bar>
  </div>
  <div class="right-bar"><app-right-bar></app-right-bar></div>
  <div class="visor"></div>
  <div class="selector">
    <h1>{{ data.name }}</h1>
    <h2>{{ data.surname }}</h2>
  </div>
  <div class="cinco"></div>
  <div class="seis"></div>
  <div class="siete"></div>
  <div class="ocho"></div>
  <div class="full">
    <h2>{{ data.title1 }}</h2>
    <p>{{ data.cap1 }}</p>
  </div>
  <div class="stack">
    <h2>{{ data.title2 }}</h2>
    <p>{{ data.cap2 }}</p>
  </div>
</div>
